vendor/camera/mimoji/model2.zip
boot.img
bootimg/16_dtbdump_nKb8.dtb
system/system/priv-app/Browser/Browser.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/data-app/SmartHome/SmartHome.apk
